asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
python-decouple
celery
redis
django-redis
django-storages
plaid-python
pandas
numpy
python-multipart
Pillow
reportlab
django-celery-beat
django-celery-results
django-fernet-fields
django-encrypted-model-fields
django-filter
stripe